#percent {
  color: #412723;
    font-size: 2em;
    margin: 0;
    font-weight: medium ;
  }

  *{
    font-family: "Noto Sans", "Open Sans", "Segoe UI", Opensans, Roboto, Helvetica, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  }

  .app__social {
    margin-top: 150px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    cursor: pointer;
   
  }


  .app__social  div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.media{
  font-size: 30px;
}
.app__social div svg {
  width: 30px;
  height: 30px;
  color: #412723;
}




